[submodule "PowerUtilities"]
	path = PowerUtilities
	url = https://github.com/redcool/PowerUtilities.git
[submodule "PowerPBS"]
	path = PowerPBS
	url = https://github.com/redcool/PowerPBS.git
[submodule "PowerCartoonPrj"]
	path = PowerCartoonPrj
	url = https://github.com/redcool/PowerCartoonPrj.git
[submodule "PowerFur"]
	path = PowerFur
	url = https://github.com/redcool/PowerFur.git
[submodule "PowerVFX"]
	path = PowerVFX
	url = https://github.com/redcool/PowerVFX.git
[submodule "PowerLit"]
	path = PowerLit
	url = https://github.com/redcool/PowerLit
[submodule "PowerPost"]
	path = PowerPost
	url = https://github.com/redcool/PowerPost.git
[submodule "PowerWater"]
	path = PowerWater
	url = https://github.com/redcool/PowerWater.git
[submodule "PowerGrassPrj"]
	path = PowerGrassPrj
	url = https://github.com/redcool/PowerGrassPrj.git
[submodule "PowerTerrainGenerator"]
	path = PowerTerrainGenerator
	url = https://github.com/redcool/PowerTerrainGenerator.git
[submodule "PowerMatCap"]
	path = PowerMatCap
	url = https://github.com/redcool/PowerMatCap.git
[submodule "SceneFog"]
	path = SceneFog
	url = https://github.com/redcool/SceneFog.git
[submodule "pbrTemplatePrj"]
	path = pbrTemplatePrj
	url = https://github.com/redcool/pbrTemplatePrj.git
[submodule "DaytimeAnimtion"]
	path = DaytimeAnimtion
	url = https://github.com/redcool/DaytimeAnimtion.git
[submodule "PowerShaderLib"]
	path = PowerShaderLib
	url = https://github.com/redcool/PowerShaderLib.git
[submodule "BehaviourTreePrj"]
	path = BehaviourTreePrj
	url = https://github.com/redcool/BehaviourTreePrj.git
